<!DOCTYPE html>
<html>
<head>
	<title>DataMapper in action</title>
</head>
<body>
	<div style="width: 250px; margin: 0 auto">
		<%= styled_flash %>
	</div>
	<div style="width: 500px; margin: 0 auto">
		<%= yield %>
	</div>
</body>
</html>