<div style="width: 250px; margin: 0 auto">
	<form method="post" action="/signup">
		<p><input type="text" name="login"></p>
		<p><input type="password" name="password"></p>
		<p><input type="submit" value="sign up"></p>
	</form>
</div>
